.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {

}

.close {
    color: #f00;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #f30;
    text-decoration: none;
    cursor: pointer;
}